.order_list {
    display: block;
}

.order_card {
    display: block;

    .card_header {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card_body {
        display: block;
    }
}
